[submodule "python-developer"]
	path = python-developer
	url = https://github.com/nkarl/jba-py-developer
[submodule "java-developer"]
	path = java-developer
	url = https://github.com/nkarl/jba-java-developer
[submodule "web-developer"]
	path = web-developer
	url = https://github.com/nkarl/jba-web-developer
[submodule "mobile-developer"]
	path = mobile-developer
	url = https://github.com/nkarl/jba-mobile-developer
